body {
    margin: 20px;
    background-color: rgb(231, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 20px auto 20px auto;
    text-align: center;
    color: #d8cefe;
}

.avatar {
    width: 150px;
    border: 1px dotted black;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}

.border-blue {
    border: 1px dotted black;

}

h3 {
    text-align: center;
    color: #5783ac;
}

.pricing {
    display: inline;
    margin-bottom: 40px;

}

.bold {
    font-weight: bold;
}

.grey-circle {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: grey;
    margin: 40px auto;
}

article {
    background-color: rgb(253, 212, 162);
    text-align: center;
}